{
    order authenticate before respond
    order authorize before basicauth

    security {
        oauth identity provider stats_github {
            driver github
            realm stats
            client_id {$STATS_GITHUB_CLIENT_ID}
            client_secret {$STATS_GITHUB_CLIENT_SECRET}
        }

        authentication portal stats_portal {
            crypto default token lifetime 86400
            crypto key sign-verify {$STATS_JWT_SHARED_KEY}
            cookie domain stats.lineageos.org
            enable identity provider stats_github

            transform user {
                match realm stats
                match sub github.com/chirayudesai
                action add role authp/admin
            }

            transform user {
                match realm stats
                match sub github.com/luca020400
                action add role authp/admin
            }

            transform user {
                match realm stats
                match sub github.com/luk1337
                action add role authp/admin
            }

            transform user {
                match realm stats
                match sub github.com/niclimcy
                action add role authp/admin
            }

            transform user {
                match realm stats
                match sub github.com/zifnab06
                action add role authp/admin
            }

            transform user {
                match realm stats
                match role authp/admin
                ui link "Admin" "/admin" icon "las la-fire"
            }
        }

        authorization policy stats_policy {
            set auth url https://stats.lineageos.org/auth/oauth2/stats
            crypto key verify {$STATS_JWT_SHARED_KEY}
            allow roles authp/admin
            validate bearer header
            inject headers with claims
        }
    }
}

app01.lineageos.org {
    root /srv

    php_fastcgi localhost:9000 {
        try_files {path} {path}/index.php =404
    }

    @deploy_script {
        header X-Api-Key {$APP01_API_KEY}
        path_regexp deploy_script ^/deploy/(?P<app>[\w]+)/(?P<hash>[a-f0-9]+)$
    }

    route @deploy_script {
        exec sh -c "/bin/deploy_scripts/{http.regexp.deploy_script.app}.sh {http.regexp.deploy_script.hash}" {
            foreground
            timeout 0
        }
    }
}

stats.lineageos.org {
    reverse_proxy systemd-tribble-tracker:8080

    redir /admin /admin/
    redir /auth /auth/
    redir /internal /internal/

    authenticate /auth/* with stats_portal

    authorize /admin/* with stats_policy
    authorize /internal/* with stats_policy
}

http://download-static.lineageos.org {
    reverse_proxy systemd-updater-backend:8080
}

http://download.lineageos.org {
    reverse_proxy systemd-updater-client:80
}

lfs.undocumented.software {
    reverse_proxy systemd-gitea:3000
}

jenkins.lineageos.org {
    redir https://buildkite.com/lineageos
}

jira.lineageos.org {
    redir https://gitlab.com/LineageOS/issues
}

translate.lineageos.org {
    redir https://crowdin.com/profile/LineageOS
}

builds.lineageos.org {
    redir https://buildkite.com/lineageos/
}
